<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1" >
	<test name="Unit">
		<packages>
			<package name="com.lib16.java.graphics.colors"/>
			<package name="com.lib16.java.graphics.geometry"/>
			<package name="com.lib16.java.graphics.geometry.pathcommands"/>
		</packages>
	</test>
</suite>